{{ partial "head.html" . }}
<header>
</header>
  <div class="parallax-container" id="index-banner">
    <nav id="main-nav" class="container">
      {{ partial "nav.html" . }}
    </nav>

    <div class="valign-wrapper" id="splash-logo">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <h1 class="white-text">{{.Title}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/imgs/chemistry.jpg" alt="Chemistry">
    </div>
  </div>

<main>
  <div class="container">
    <div class="row ">
      {{ if and .TableOfContents (eq .Params.toc "true")}}
      <div class="col s12 m3 right hide-on-small-and-down">
        <div class="toc-wrapper">
          {{ .TableOfContents }}
        </div>
      </div>
      {{ end }}

      <div class="col s12{{ if .TableOfContents }} m9{{ end }}">
        <article>
          {{.Content}}
        </article>
      </div>
    </div>
  </div>
</main>
{{ partial "footer.html" . }}