<ul class="right" style="z-index:300;">
  {{ $currentNode := . }}
  <li><a href="/">Home</a></li>
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li><a class="dropdown-button" data-activates="dropdown-{{.Identifier}}" data-prooder-ignore href="{{.URL}}">{{.Name}} <i class="material-icons right">arrow_drop_down</i></a></li>
      <ul data-proofer-ignore id="dropdown-{{.Identifier}}" class="dropdown-content">
        <li><a data-proofer-ignore href="{{.URL}}">{{.Name}}</a></li>
        {{ range .Children }}
          <li><a href="{{.URL}}">{{.Name}}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      <li><a href="{{.URL}}">{{.Name}}</a></li>
    {{ end }}
  {{ end }}
</ul>