{{ partial "head.html" . }}
<main>

      <!-- MAIN AREA -->
      <div class="valign-wrapper" id="full-page">
        <div class="hide-on-small-only">
          <div class="container">
            <div class="row" id="oops">
              <div class="col s12">
                <h1 class="light hbrown-text large_text">OOPS...</h1>
              <div class="col s12">
                <h5 class="light hbrown-text center-align">Looks like we've wandered off track, lets try again.</h5>
                <a class="waves-effect waves-light btn" href="/">Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="hide-on-med-and-up">
          <div class="container">
            <div class="valign">
              <div class="row">
                <div class="col s12">
                  <h1 class="light hbrown-text center-align">OOPS...</h1>
                <div class="col s12">
                  <h5 class="light hbrown-text center-align">Looks like we've wandered off track, lets try again.</h5>
                <div class="col s12" id="btn">
                  <a class="waves-effect waves-light btn" href="/">Home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

{{ partial "footer.html" . }}
