{{ partial "head.html" . }}
<header>
</header>
<main>
  <div class="parallax-container" id="index-banner">
    <nav id="main-nav" class="container">
      {{ partial "nav.html" . }}
    </nav>

    <div class="valign-wrapper" id="splash-logo">
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <img src="/imgs/cb_science_logo.png" alt="Chris Bridge Scicence" class="responsive-img" style="max-width: 80%;" />
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/imgs/chemistry.jpg" alt="Chemistry">
    </div>
  </div>

  <div class="section scrollspy" id="years">
    <div class="container">
    {{ $len := len (where .Data.Pages "Type" "year" )}}
    {{ $last := sub $len 1}}
    {{ range $index, $item := (where .Data.Pages "Type" "year") }}
        {{ if eq (mod $index 2) 0 }}
          <div class="row" {{if (eq $index 0)}} style="margin-top:20px" {{end}}>
        {{ end }}
         <div class="col s12 m6{{ if and (eq $index $last) (eq (mod $index 2) 0) }} offset-m3{{ end }}">

        {{ .Render "li" }}

        </div>

        {{ if eq (mod $index 2) 1 }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/imgs/chemistry.jpg" alt="Chemistry"></div>
  </div>
  <div class="section scrollspy" id="news">
    <div class="container">
    {{ range $index, $item := (where .Data.Pages "Type" "news") }}
      {{ .Render "summary" }}
    {{ end }}
    </div>
  </div>
</main>
{{ partial "footer.html" . }}
