{{ partial "head.html" . }}
<main>
  <!-- MAIN AREA -->
  <div id="full-page">
    <div class="hide-on-small-only">
      <div class="container">
        <div class="row">

            <div class="col s12">
              <img class="responsive-img" src="imgs/cb_science_logo.png" alt="Logo">
            </div>
            <div class="col s12">
              <div class="">
                <h5 class="light hbrown-text flow-text center-align">Website Coming Soon</h5>
                  <div class="col s8 offset-s2 divider"></div>
                <h5 class="light hbrown-text flow-text center-align">Contact: info@harrybridge.co.uk</h5>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="hide-on-med-and-up">
      <div class="container">
        <div class="valign">
          <div class="row">
            <div class="col s12">
              <img class="responsive-img" src="imgs/cb_science_logo.png" alt="Logo">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h5 class="light hbrown-text flow-text center">Website Coming Soon</h5>
                <div class="divider"></div>
              <h5 class="light hbrown-text flow-text center">Contact: info@harrybridge.co.uk</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ partial "footer.html" . }}
